@model Dashboard.Models.DTO.ForgotPasswordDto

@if (Model != null && Model.IsEmailSent)
{
    <div class="form-group form-check">
        @*  <input class="form-check-input" asp-for="IsEmailSent" /> @Html.DisplayNameFor(model => model.IsEmailSent) *@
        <h2> Email Sent to your Regesterd Email For Resetting the Password</h2>
       
         <a class="btn btn-outline-primary" asp-controller="Oath" asp-action="login">LogIn</a>
   
    </div>
}
else
{
    <h4>ForgotPasswordDto</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

}

<div>
    <a asp-action="Index">Back to List</a>
</div>

