<li class=" nav-item">
    <a class="d-flex align-items-center" href="#"><i data-feather="file-text"></i><span class="menu-title text-truncate" data-i18n="Invoice"> Billing </span></a>
    <ul class="menu-content">
        <li>
            <a class="d-flex align-items-center" href="app-invoice-list.html"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="List">List</span></a>
        </li>
        <li>
            <a class="d-flex align-items-center" href="app-invoice-preview.html"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Preview">Preview</span></a>
        </li>
        <li>
            <a class="d-flex align-items-center" href="app-invoice-edit.html"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Edit">Edit</span></a>
        </li>
        <li>
            <a class="d-flex align-items-center" asp-controller="billing" asp-action="add"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Add">Add</span></a>
        </li>
    </ul>
</li>