<li class=" nav-item">
    <a class="d-flex align-items-center" href="#"><i data-feather="file-text"></i><span class="menu-title text-truncate" data-i18n="Invoice"> Client Menue </span></a>
    <ul class="menu-content">
        <li>
            <a class="d-flex align-items-center" asp-controller="UserForm" asp-action="UserDetail"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Roles">Profile</span></a>
        </li>
        <li>
            <a class="d-flex align-items-center" asp-controller="Ticket" asp-action="add"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Permission">Add Ticket</span></a>
        </li>
    </ul>
</li>