<li class=" nav-item">
    <a class="d-flex align-items-center" href="#"><i data-feather="tool"></i><span class="menu-title text-truncate" data-i18n="Roles &amp; Permission">Ticket</span></a>
    <ul class="menu-content">
        <li>
            <a class="d-flex align-items-center" asp-controller="Ticket" asp-action="Index"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Roles">Open Tickets</span></a>
        </li>
        <li>
            <a class="d-flex align-items-center" asp-controller="Ticket" asp-action="Closed"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Permission">Closed Tickets</span></a>
        </li>
        <li>
            <a class="d-flex align-items-center" asp-controller="Ticket" asp-action="add"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Permission">Add Ticket</span></a>
        </li>
    </ul>
</li>
